.header {
    display: flex;
    width: 1000px;
    height: 100px;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    margin-top: 100px;
    border: 1px solid black;
    justify-content: space-between;

}
.header > ul {
    display: flex;
    padding: 0;  
}
.header > ul > li {
    list-style-type: none;
    margin-left: 20px;
}
.header-last-message-date {
    margin-right: 10px;
}