.message-list {
    width: 1000px;
    min-height: 500px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10px;
}
.messages-divider {
    display: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}