.message-input {
    margin-top: 10px;
}
.message-input-text {
    width: 800px;
    height: 25px;
}
.message-input-button {
    height: 31px;
    margin-left: 5px;
}
.save-hide {
    display: none;
}