.own-message {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid black;
    margin: 20px;
    margin-left: 370px;
    padding: 5px;
    width: 600px;
    justify-content: space-between;
    background-color: rgb(245, 241, 241);
    
}
.message-text {
    margin-left: 20px;
    width: 400px;
    word-wrap: break-word;
    text-align: justify;
}
.message-time {
    align-self: flex-end;
}